* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    transition: .4s ease;
    max-width: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
}

:root {
    --background: #fcf7e4;
    --foreground: #1d2a37;
    --primary: #1d2a37;
    --primary-foreground: #fcf7e4;
    --secondary: #d4d2c5;
    --secondary-foreground: #1d2a37;
    --border: #a8a69d;
    --accent: #c78c60;
    --accent-dark: #3b5b4b;
    --radius: 0.5rem;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*---------------------------- Cabeçalho da Página ---------------------------------*/

header {
    background-color: #1d2a37;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.container {
    max-width: 28rem;
    margin: 0 auto;
    padding: 1rem;
}

/*--------------------- Barra de Navegação da Página: nav -------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    padding: 25px 8% 2%;
    position: sticky;
}

.logo {
    color: var(--primary-foreground);
    width: 90px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 50px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 15px;
}

nav ul li a {
    color: var(--primary-foreground);
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 22px
}

nav ul li a:hover {
    color: var(--accent);
    transition: .4s;
    transform: scale(1.1,1.1);
}

/*-------------------------- Continuação da Barra de navegação + botão da Main -------------------------------*/

.contact-btn {
    background-color: var(--primary-foreground);
    color: var(--foreground);
    text-decoration: none;
    border: transparent;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 9px;
    transition: .5s ease;
}

.contact-btn:hover {
    background-color: var(--accent);
    border: transparent;
    color: var(--primary-foreground);
    cursor: pointer
}

/*---------------------------- Barra de Navegação do Menu Mobile: .menumobile ------------------------------*/

.menumobile {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--primary-foreground);
    cursor: pointer;
    z-index: 4;
}

.menumobile::before,
.menumobile::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--primary-foreground);
    margin-top: 5px;
    position: relative;
    transition: .4s;
}

.nav-login-buttons-alt {
    display: none;
}

footer h4 {
    position: static;
    color: var(--primary-foreground);
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    background-color: var(--primary);
    bottom: 0;
    width: 100dvw;
}

/*-------------------------------- Estilização da Área de Serviços: .services ---------------------------------*/

@media screen and (max-width: 1360px) {

    html,
    body {
        overflow-x: hidden;
    }
/*--------------------------- Heading Section ------------------------------*/

    header {
        width: 100%;
    }

    nav {
        padding: 45px;
    }

    .logo {
        margin: auto;
        width: 70px;
    }

    .main {
        flex-direction: column;
        justify-content: none;
    }

    .nav-login-buttons {
        display: none;
    }

    .menumobile {
        display: block;
        z-index: 5;
        border-top: 6px solid var(--primary-foreground);
    }

    .menumobile::after,
    .menumobile::before{
        width: 40px;
        height: 6px;
    }

    .nav-list {
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        width: 60%;
        height: 1000vh;
        background: var(--primary);
        clip-path: circle(100px at 90% -150%);
        transition: .4s ease-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        pointer-events: none;
        z-index: 4;
        text-align: center;
    }

    .nav-list li {
        display: flex;
        justify-content: space-around;
        margin-inline: auto;
        text-align: center;
        align-items: center;
    }

    /* Active Nav Properties */

    .nav.active .nav-login-buttons-alt {
        display: flex;
        align-items: center;
        margin: 30px 0 0;
        justify-content: space-around;
        transition: 1s;
        position: fixed;
    }

    .nav.active .nav-list {
        clip-path: circle(15000px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .menumobile {
        border-top-color: transparent;
    }

    .nav.active .menumobile::before {
        transform: rotate(135deg);
    }

    .nav.active .menumobile::after {
        transform: rotate(-135deg);
        margin-top: -5px;
    }
}

@media screen and (max-width: 850px){

    .content-sign-in{
        position: absolute;
        top: 36%;
        right: 29%;
        transform: translateY(-26%);
    }

    #preloader{
        background-size: 9%;
    }

}

@media screen and (max-width: 650px){

    .content-sign-in{
        position: absolute;
        top: 36%;
        right: 16%;
        transform: translateY(-26%);
    }

    #preloader{
        background-size: 9%;
    }
}
